* {
    padding: 0%;
    margin: 0%;
    background-color:#42855B;
}

.flex-container button {
    color: #e9e0c9;
    background-color: #000000;
    border: 5px solid #e9e0c9;
    box-shadow: 2px 2px #e9e0c9;
    width: 260px;
    height: 100px;
    margin: 15px;
    margin-left: 639px;
}

.flex-container img {
    border: 5px solid #e9e0c9;
    box-shadow: 2px 2px #e9e0c9;
    margin: 15px;
    float: left;
    margin-left: 30px;
}
